<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeResto</title>
    <link rel="stylesheet" href="../styles/main.css"> 
</head>
<body>
    <!-- Start: Header -->
    <header class="main-header">
        <div class="container">
            <h1 class="mh-logo">
                <a href="index.html">
                    <img src="../public/images/logo_weresto.svg" width="60%" alt="WeResto is Engaging Restaurant Apps" />
                </a>
            </h1>
            <nav id="drawer" class="main-nav">
                <ul class="main-nav-list">
                    <li class="main-nav-item"><a href="index.html">Home</a></li>
                    <li class="main-nav-item"><a href="#">About Us</a></li>
                    <li class="main-nav-item"><a href="#">Favorite</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <!-- End: Header -->

    <!-- Start: First Section -->
    <section class="bg-img">
        <div class="half-first">
            <h1 class="second">Experience Iconic Restaurant</h1>
            <button class="tombol">Learn More</button>
        </div>
    </section>
    <!-- End: First Section -->
</body>
</html>
