@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Newsreader:wght@400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #212121;
}

img {
    max-width: 100%;
    height: auto;
}

.h2-judul {
    font-family: "Newsreader", serif;
    font-size: 2em;
    color: #212121;
}

/* 
Header 
*/
.main-header {
    background-color: #212121;
}

.mh-logo {
    cursor: pointer;
}

.container {
    max-width: 100%;
    padding: 20px 30px;
    margin: auto;
}

.main-header .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-nav {
    margin: 1em 0 .5em;
    text-align: center;
}

.main-nav-list li {
    display: inline;

}

.main-nav-list a {
    color: #F0F0F0;
    display: inline-block;
    padding: .5em 1.5em;
    text-align: center;
    text-decoration: none;
}

.main-nav-list a:hover {
    color: #EEC32A;
}

/*
First Section
*/
.bg-img{
    background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url("../public/images/heros/hero-image_1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
}

.first {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second {
    font-family: Newsreader;
    font-size: 2.8em;
    text-align: center;
    padding: 3.5em 0 1.5em 0;
}

.tombol {
    border: none;
    font-family: Inter, sans-serif;
    font-weight: 600;
    color: #F0F0F0;
    background-color: #212121;
    margin: 0;
    padding: 1.5em 3em;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.tombol:hover {
    background-color: #EEC32A;
}

/*
Second Section
*/

.sec-second {
    display: flex;
    flex-direction: row;
    margin: 4em;
    padding: 6em;
}

.h2-judul-second {
    font-family: "Newsreader", serif;
    font-size: 2.5em;
    color: #212121;
    margin: .5em 0 0.8em 0;
}

.p-second {
    line-height: 1.8em;
    margin-bottom: 3em;
}

/*
Third Section
*/

.sec-third {
    background-color: #212121;
    padding: 6em;
}

.h2-judul-third {
    font-family: "Newsreader", serif;
    font-size: 2.5em;
    color: #F0F0F0;
    margin: .5em 0 0.8em 0;
    text-align: center;
}

.flex-third {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6em 0;
}

.h4-judul {
    color: #F0F0F0;
    font-weight: 700;
    margin: 1em 0;
}

.p-third {
    color: #F0F0F0;
    margin: 1em 0;
    line-height: 1.5em;
}

/*
Forth Section
*/

.sec-fourth {
    padding: 3em 0;
}

.h2-judul-fourth {
    font-family: "Newsreader", serif;
    font-size: 2.5em;
    color: #212121;
    margin: .5em 0 0.8em 0;
    text-align: center;
}

.flex-fourth {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 6em;
}

/*
Fifth Section
*/

.sec-fifth {
    background-color: #EFEFEF;
    padding: 3em 0;
}

.flex-fifth {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 6em 6em;
}

.h4-judul-black {
    color: #212121;
    font-weight: 700;
    margin: 2em 1.3em 1.3em 1.3em;
}

.p-fifth {
    line-height: 1.5em;
    margin: 1em 1.3em;
}

.card-fifth {
    background-color: #FFF;
    margin: 0 2em;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.012);
}

.icon-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em 0;
}

.map-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1em 1em;
}

.p-margin {
    margin: 0 .5em;
    font-weight: 600;
}

/*
Footer
*/

.main-footer {
    background-color: #212121;
}

.p-footer {
    color: #F0F0F0;
    text-align: center;
    padding: 2em;
}